/* universal */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


/* main app theme */
.app {
  display: flex;
  background-color: #F3F3F3;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  flex-direction: column;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family: Inter;
}


/* Load chat component */
.chat-component {
  position: relative;
  top: 2%;
  right: 0%;
  left: 0%;
}


/* customize scrollbar */
::-webkit-scrollbar {
  width: 0.2rem;
  background-color: transparent;
  height: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.8rem;
  height: 2%;
}


