
.loading-dots {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .dot {
    width: 0.1rem;
    height: 0.1rem;
    background-color: #333; /* Change the dot color as needed */
    border-radius: 50%;
    margin: 0 5px; /* Adjust the margin to control the spacing between dots */
    animation: bounce 1s infinite alternate; /* Adjust animation duration as needed */
  }
  
  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.5);
    }
  }
  