/* Chats Component container */
.Chats-UI {
  display: flex;
  height: 87.5vh;
  width: 100%;
  background-color: #F3F3F3;
  flex-direction: row;
}


/* style toggle-behavior of right section*/
.chat-component-right-section,
.chat-component-main-section {
  transition: width 0.1s ease;
}

/*  shrink the right section */
.chat-component-right-section.shrink-right-section {
  display: none;
}

/* Expand the main section when the right section is shrunk */
.chat-component-main-section.shrink-right-section {
  width: 81%;
  
  .shrunked-right-section-button {
    display: flex;
  }

  .search-box {
    width: 88%;
  }
}




/*Expand the main section on shrinkage of left-section */
.chat-component-main-section.shrink-left-section {
  width: 77%;
}


/* on shrinkage of both left and right section */
.chat-component-main-section.expanded-main-section {
  width: 92.5%;
  overflow: hidden;
}


/* Make responsive for small screen */
@media screen and (max-width:768px) {

  .chat-component-main-section {
    width: 85%;
    margin-left: 2.5%;
    margin-right: 0.5%;
  }

  .chat-component-right-section{
    display: none;
  }

  .shrunked-chat-component-left-section {
    width: 10%;
  }

  .chat-component-left-section{
    width:30%;
    height:100%;
    position: absolute;
    z-index:999;
  }
  
.shrunked-right-section-button{
   display: none;
  }

  .small-device-new-chat-button-container{
    display: flex;
    margin-left: auto;
  
  }
   
  .search-box {
    width: 85%;
  }
}
