/*shrunked left-section customization */
.shrunked-chat-component-left-section {
  width: 3.5%;
  height:104.5%;
  background-color: #013DB9;
}

.shrunked-left-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
  margin-top: 25%;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.shrunked-horizontal-line {
  border-bottom: 1px solid #C9C9C9;
  margin-top: 70%;
}

.industry-icon-container {
  margin-top: 50%;
}
/* end shrunked left-section-customization */


/*starting of chat-component-left-section */
.chat-component-left-section {
  display: flex;
  flex-direction: column;
  width: 15%;
  height:104.5%;
  background-color: #013DB9;

  
}

.left-section-title-container {
  display: flex;
  justify-content: space-between;
  padding: 6%;
  margin-top: 10%;
}

.left-section-title {
  color: white;
  margin-left: 2%;
  font-size: 0.9rem;
  font-weight: 600;

  /* added??? */
  color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}


.toggle-button {
  width: 1.375rem;
  height: 1rem;
  cursor: pointer;
}

/* beautify industry data */
.industry-data-container {
  padding: 1%;
  overflow: hidden;
  

}

.industry-data-container:hover {
  overflow-y: auto;
}

.industry-data {
  display: flex;
  flex-direction: column;
  padding: 3%;
  margin-top: 5%;

  
}


.industry-title-container {
  display: flex;
  margin-right: 1%;
  justify-content: flex-start;
}


.industry-name {
  padding: 1%;
  margin-left: 1%;
  margin-right: 1%;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  font-size: 15px;

  /* Added
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; */
 
}

#expand-button {
  margin-left: auto;
  width: 0.8rem;
  height: 0.8rem;

}

.horizontal-line {
  border-bottom: 1px solid #f0e7e7;
  margin-top: 6%;
}

.industry-nested-data-container {
  height: auto;
  width: 100%;
  align-self: flex-start;
  margin-bottom: 2%;
  margin-top: 4%;
}

.industry-nested-data {
  display: flex;
  justify-content: flex-start;
  color: #969696;
  margin-bottom: 5%;
  margin-top: 5%;

  
}

.industry-nested-data:hover {
  color: #003F7D;
  background-color: #e4ecf5;
  border-radius: 0.2rem;
}

#bullet-point {
  width: 1.5rem;
  height: 1.5rem;
}

.industry-nested-items {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  /* Added */
  color: #D8D8D8;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; 
}

/*end of chat-component left-section-container*/