.delete-confirmation-dialogue-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top:30%;
    left:30%;
    width:35vw; 
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
    padding: 1.5%;
    z-index:110;
    border-radius: 0.8rem;
    font-family: Inter;
}
.delete-confirmation-heading{
font-size: 1.15rem;
font-weight: 550;
}

.delete-confirmation-msg {  
    margin-top: 4%;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(78, 77, 77);
    line-height: 1.5;
}


.delete-confirmation-button-container {
    display: flex;
    align-items: center;
    margin-top: 8%;
    justify-content: flex-end;
    width: auto;
}

.delete-confirmation-button {
    background-color: transparent;
    height: 100%;
    width: 10%;
    min-width: fit-content;
    padding: 1%;
    color: #427ee6;
    font-weight:550;
    
}

.delete-cancel-button {
    background-color: transparent;
    margin-left: 1%;
    height: 100%;
    width: 10%;
    min-width: fit-content;
    padding: 1%;
    color: #427ee6;
    font-weight:550;
}