

/* universal */
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* main app theme */
.app{
  display: flex;
  background-color:white;
  min-height:100vh;
  flex-direction: column;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* header container */
.heading-part header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #f4ebeb;
}

.brand-identity{
  display: flex;
  align-items: center;
  justify-content:flex-start ;
  margin-left: 1%;
}

.brand-text{
  color:black;
  font-weight: bold;
  font-size: 2em;
}

.heading-button{
  display: flex;
  
  
}

.dashboard-component-button{
  margin-right: 2%; 
  padding: 4%;
  min-width: fit-content;
  width:1ovw;
  background-color: transparent;
  font-weight:600;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;

}

.chat-component-button{
  margin-left: 2%;
  padding: 4%;
  min-width: fit-content;
  width:8vw;
  background-color: transparent;
  font-weight:600;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.profile-button{
 margin-right: 2%;
}

.Menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10px;
}

.Menu-item{
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 5px;
  align-items: center;
  cursor: pointer;
}

.selected{
  background-color:#242629;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 10px;
  color: white;
  border-radius: 8px;
  min-width: fit-content;
  max-width:15vw;
  margin-left: 0px;    
}

.icon {
  font-size: 18px;
  margin-right: 10px;
}

.text {
  font-size: 16px;
  color: whitesmoke;
}

/* beautify sample data */
.Sample-data-loading-section{ 
  display: flex;
  flex-direction: column;
  min-height: 65vh;
  max-height:65vh;
  width:15vw;
  overflow: auto;
  scroll-behavior:auto;
  margin-bottom:2%;
  margin-top: 1.5%;
  background-color: #181818;
}

.Sample-data{
display: flex;
color:white;
padding:2%;
margin: 2%;
line-height: .8em;
font-size: 1em;
}


/* Draw horizontal line */
.Horizontal-line{
  position: relative;
  width: 100%; /* Adjust the width as needed */
  height: 0;
  border-top: 1px solid #393939; /* Adjust color and style as needed */
}


/* Load chat component */
.Chat-component{
  position: absolute;
  top: 10%;
  left:7%;  /* Adjust the value to position it where you want */
  z-index: 10;
  margin-left: 10%;
}



/*customize scroll bar */
div {
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge */
  overflow: -moz-scrollbars-none; /* Older Firefox */
}



/* Apply custom styles to the scrollbar (for webkit-based browsers like Chrome, Safari) */
div::-webkit-scrollbar {
  width: none;
}

div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 1px;
}

div::-webkit-scrollbar-track {
  background-color: lightgrey;
}





