*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.App{
  display: flex;
  background-color:rgb(20 23 24);
  min-height:100vh;
  flex-direction: column;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*.Vertical-line{
  position: relative;
  width: 0;
  height: 100%; /* Adjust the height as needed */
 /* border-left: 1px solid whitesmoke; /* Adjust color and style as needed */
 /*}*/


.Heading-part{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}

.DI-text{
  color:white;
  margin-left: 1%;
}

.Menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10px;
}

.Menu-item{
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 5px;
  align-items: center;
  cursor: pointer;
}

.selected{
  background-color:#242629;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 10px;
  color: white;
  border-radius: 8px;
  min-width: fit-content;
  max-width:15vw;
  
  
}

.icon {
  font-size: 18px;
  margin-right: 10px;
}

.text {
  font-size: 16px;
  color: whitesmoke;
}

.Horizontal-line{
  position: relative;
  width: 100%; /* Adjust the width as needed */
  height: 0;
  border-top: 1px solid #eceaea; /* Adjust color and style as needed */
}

.Chat-component{
  position: absolute;
  top: 4%;
  left:7%;  /* Adjust the value to position it where you want */
  z-index: 10;
  margin-left: 10%;
}














/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/