* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Chats Component container */
.Chats-UI {
  display: flex;
  height: 88vh;
  width: 93vw;
  background-color:white;
  flex-direction: row;
}


/*starting of chat-component-left-section */
.chat-component-left-section{ 
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 91vh;
  overflow: auto;
  scroll-behavior:auto;
  background-color:white;
  border-right: .09rem solid #e2dbdb;
}


/* beautify industry data */
.industry-data{
 display: flex;
 flex-direction: column; 
 margin-top: 3%;
}

.expanded{
 display: flex;
 flex-direction: column; 
 height: auto;
}

.industry-name{
display: flex;
color:color;
padding:2%;
margin-right: 1%;
margin-top: 2%;
justify-content: flex-start;
}


.data {
  padding: 1%;
  margin-left: 1%;
  margin-right: 1%;
  width:60%; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.expand-button {
  padding: 1%;
  margin-left: auto;
} 

.industry-nested-data{
    height: auto;
    align-self: flex-start;
    padding: 2%;
    margin-left: 10%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

  
}

.industry-details{
  margin-bottom: 4%;
}

/* start of Chats main section container style*/
.Chats-main-section {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  margin-top: 2%;
  width: 60%;
  border: 1px solid #e2dbdb;
  border-radius: 0.8rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.chats-conversation-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; 
  background-color:#f3f6fc;
  border-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0;
}


/* start of search box customization*/
.search-box {
  display: flex;
  align-items: center;
  background-color:white;
  border: 1px solid #ccc;
  padding: 0.5%;
  margin: 1%;
  border-radius: 0.8rem;
}


/*input box */
.input-box::before {
  color: black; /* Set the caret color */
}

.input-box {
  width: 80%;
  margin-left: 1%;
  margin-right: 1%;
  background-color:white;
  border: none;
  outline:none;
  caret-color: black;
  font-size: 1.2em;
  color: black;
}

/* Change the color of the placeholder text */
.input-box::placeholder {
  color: rgb(211, 204, 204); 
}


/*send button */
.send-button {
  border: none;
  padding: 1%;
  cursor: pointer;
  margin-left:1%;
}

.uploadFileButton{
  padding: auto;
  margin: auto;
  cursor: pointer;
}
/*end of search-box cutomization*/


/* conversation-display */
.Chats-conversation {  
  display: flex;
  flex-direction: column;
  overflow: auto;
  scroll-behavior: auto;
  height: 100%;
  background-color:white;
  border-bottom-left-radius: 0.8rem;

}


/*customization of user and bot-msg box */
.user,
.bot {
  padding: 2%;
  margin-bottom: 2%;
  max-width: 100%;
  /* Limiting the maximum width of messages */
  word-wrap: break-word;
  /* Wrapping long words */
  overflow-wrap: break-word;
  /* Fallback for older browsers */
  word-break: break-word;
  /* Additional support for word breaking */
  font-size: 1 rem;
}


.user{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.question{
  width: 90%;
  margin-left: 2%;
  margin-right: 2%;
}

.bot{
display: flex;
justify-content: flex-start;
align-items: flex-start;
}

.answer{
  width: 90%;
  margin-left: 2%;
  margin-right: 2%; 
  line-height: 2;
}

.open-chat-history-button{
  position: relative;
  bottom:40%;
  right: 0%;
  align-self: flex-end;
  width: fit-content;
  padding: 1%;
  transform: rotate(-90deg);
  font-size: 1rem;
  font-weight:600;
  background-color:transparent;
}

/*end of main-section styles*/


/*chats-right-section-container */
.Chats-right-section {
  display: flex;
  flex-direction: column;
  background-color:#f3f6fc;
  padding: 2%;
  margin-top: 2%;
  width:20%;
  border: 1px solid #dcd7d7;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

/*Chat history top section*/
.Chat-history-top {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
  width: 100%;
}


/*new-chat-button*/
.New-chat-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 132 255);
  border-radius: 0.8rem;
  padding-left: 1.375rem;
  padding-right: 1.375rem;
  margin-left: 5%;
  height: 3rem;
  min-width: fit-content;
  cursor: pointer;
}

.New-chat-text {
  color: white;
  font-family: var(--font-inter);
  font-size: 1rem;
  font-weight: 600;
  margin-left: 1%;
}
/*end of style of new-chat-button*/


/*start styling of chat-history-section*/
.chat-history-data-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
  color: black;
  margin-top: 10%;
  width: 100%;
}

.date{
  font-weight: bold;
  margin: auto;
}

.bookmark-plus-history-container
{
  display:flex;
  margin: 2%;
  align-items:center;
}

.history{
  max-width:60%;
  padding: 2%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/* style toggle-behavior of right section*/
.Chats-right-section,
.Chats-main-section {
  transition: width 0.1s ease;
}


/*  shrink the right section */
.Chats-right-section.shrink-right-section {
  width: 0;
  padding: 0;
}

/* Expand the main section when the right section is shrunk */
.Chats-main-section.shrink-right-section {
  width: 100% ;
  border-radius: 0.8rem;
}


