
.Chats-UI{
    display: flex;
    min-height: 92vh;
    min-width: 80vw;
    background-color:white;
    border-radius: 10px;
    padding: 5%;
    flex-direction: row;
}

.Chats-heading{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom:5%;
    
}
.Chats-heading1{
    display: flex;
    flex-wrap: nowrap;
}
.Chats-heading2{
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    color:grey;
}

.Chats-section{
    flex: 0 0 85% ;
}


.Chat-conversation{
    max-height: 100%;
    height: 440px;
    width: 350px;
    padding: 10px;
    background-color:#ccc;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: auto;
    scroll-behavior: auto;
  }

.user,.bot{
  padding: 10px;
  margin-bottom: 10px;
  max-width: 50%; /* Limiting the maximum width of messages */
  word-wrap: break-word; /* Wrapping long words */
  overflow-wrap: break-word; /* Fallback for older browsers */
  word-break: break-word; /* Additional support for word breaking */
  font-size: 16px;
  border-radius: 8px;
}


.user {
  background-color: #e2f7fd;
  align-self: flex-end;
  border: 1px solid #ccc;
}

.bot {
  background-color: #f0f0f0;
  align-self:flex-start;
  border: 1px solid plum;
}

.Chats-history-section{
    flex:0 0 20% ;
    position: absolute;
    left: 80%;
    background-color: whitesmoke;
    min-height: 95%;

   
}

.Chats-input-box {
    display: flex;
    align-items:center;
    width: 50vw;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 2%;
  }
  .input-box {
    flex-grow: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }

  .send-button { 
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5px;
  }
  
  .send-button img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }